<html>
<head>
  <title><!--$template_title--></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
  <link rel="stylesheet" href="/system/scripts/jquery/themes/main/loxberry.min.css">
</head>
<body>

<!-- page -->
<div data-role="page" id="main">

  <!-- ************************************************************************************** -->

  <!-- content -->
  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">

    <!-- text -->
    <div style="margin: 5%">

      <p>
      <center>
     

		<div>Paring to LG TV Success!</div>

      </center>
      </p>

    </div>
    <!-- /text -->

    </div>

  </div>
  <!-- /content -->

  <!-- ************************************************************************************** -->

</div>
<!-- /page -->

<div id="lang" style="display: none"><!--$lang--></div>
<div id='overlay' style="display: none"><img src='/system/scripts/jquery/themes/main/images/ajax-loader.gif' /></div>

</body>
</html>